.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.float-container {
  border: 3px solid #fff;
  padding: 20px;
}

.float-child-left {
  width: 49.5%;
  float: left;
  padding: 20px;
  margin-right: .5%;
  border: 1px solid lightgrey;
  background-color: white;
}  

.float-child-right {
  width: 49.5%;
  float: left;
  padding: 20px;
  margin-left: .5%;
  border: 1px solid lightgrey;
  background-color: white;
}  

.page-footer { 
  position: fixed; 
  padding: 10px 10px 0px 10px; 
  bottom: 0;
}

.ant-collapse-header {
  display: flex;
  padding: 0px 0px !important;
}

.team-table-container{
  margin-top:30px;
  min-width:600px;
  width:1200px;
  margin:auto;

}
